<a href="https://colab.research.google.com/github/elleniayele/Prediction-of-Product-Sales1/blob/main/Untitled8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#loading and filtering data#

In [33]:
import pandas as pd

In [34]:
filename ='/content/RailsToTrails_National Count Data_week - Total Count data (31 counters) (2).csv'
bike_df = pd.read_csv(filename)
bike_df

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,Week 1,12/30/2019,167679,183546,NaN,0.09,1.094627,NaN,NaN,NaN
1,Week 2,1/6/2020,82340,97140,NaN,0.18,117.974253,NaN,NaN,NaN
2,Week 3,1/13/2020,62315,75782,NaN,0.22,121.611169,NaN,NaN,NaN
3,Week 4,1/20/2020,75801,83809,NaN,0.11,110.564504,NaN,NaN,NaN
4,Week 5,1/27/2020,75841,94738,NaN,0.25,124.916602,NaN,NaN,NaN
5,Week 6,2/3/2020,79780,153555,NaN,0.92,192.473051,NaN,NaN,NaN
6,Week 7,2/10/2020,65732,130351,NaN,0.98,198.306761,NaN,NaN,NaN
7,Week 8,2/17/2020,69492,149876,NaN,1.16,215.673747,NaN,NaN,NaN
8,Week 9,2/24/2020,85688,141250,NaN,0.65,164.842218,NaN,NaN,NaN
9,Week 10,3/2/2020,84512,167528,NaN,0.98,198.229837,NaN,NaN,NaN
10,Week 11,3/9/2020,107995,210182,NaN,0.95,194.621973,NaN,NaN,NaN
11,Week 12,3/16/2020,125440,367795,NaN,1.93,293.203922,NaN,NaN,NaN
12,Week 13,3/23/2020,136330,372783,NaN,1.73,273.441649,NaN,NaN,NaN
13,Week 14,3/30/2020,118784,280728,NaN,1.36,236.334860,NaN,NaN,NaN
14,Week 15,4/6/2020,132033,419160,NaN,2.17,317.466088,NaN,NaN,NaN
15,Week 16,4/13/2020,133267,241810,NaN,0.81,181.447770,NaN,NaN,NaN
16,Week 17,4/20/2020,165777,231184,NaN,0.39,139.454810,NaN,NaN,NaN
17,Week 18,4/27/2020,166356,276982,NaN,0.66,166.499555,NaN,NaN,NaN
18,Week 19,5/4/2020,171049,244058,NaN,0.43,142.683091,NaN,NaN,NaN
19,Week 20,5/11/2020,178534,281348,NaN,0.58,157.587910,NaN,NaN,NaN
20,Week 21,5/18/2020,191319,255226,NaN,0.33,133.403373,NaN,NaN,NaN
21,Week 22,5/25/2020,240507,299567,NaN,0.25,124.556458,NaN,NaN,NaN
22,Week 23,6/1/2020,211380,278800,NaN,0.32,131.895165,NaN,NaN,NaN
23,Week 24,6/8/2020,214729,296335,NaN,0.38,138.004182,NaN,NaN,NaN
24,Week 25,6/15/2020,202847,255112,NaN,0.26,125.765725,NaN,NaN,NaN
25,Week 26,6/22/2020,202445,256615,NaN,0.27,126.757885,NaN,NaN,NaN
26,Week 27,6/29/2020,184658,236287,NaN,0.28,127.959254,NaN,NaN,NaN
27,Week 28,7/6/2020,185302,244342,NaN,0.32,131.861502,NaN,NaN,NaN
28,Week 29,7/13/2020,166125,250590,NaN,0.51,150.844244,NaN,NaN,NaN
29,Week 30,7/20/2020,208809,223757,NaN,0.07,107.158695,NaN,NaN,NaN
30,Week 31,7/27/2020,197005,238673,NaN,0.21,121.150732,NaN,NaN,NaN
31,Week 32,8/3/2020,180605,239827,NaN,0.33,132.790897,NaN,NaN,NaN
32,Week 33,8/10/2020,191450,219279,NaN,0.15,114.535910,NaN,NaN,NaN
33,Week 34,8/17/2020,168754,241007,NaN,0.43,142.815578,NaN,NaN,NaN
34,Week 35,8/24/2020,176624,273677,NaN,0.55,154.948931,NaN,NaN,NaN
35,Week 36,8/31/2020,184806,227918,NaN,0.23,123.328247,NaN,NaN,NaN
36,Week 37,9/7/2020,157345,207670,NaN,0.32,131.983857,NaN,NaN,NaN
37,Week 38,9/14/2020,152527,207320,NaN,0.36,135.923476,NaN,NaN,NaN
38,Week 39,9/21/2020,141072,207918,NaN,0.47,147.384314,NaN,NaN,NaN
39,Week 40,9/28/2020,135881,186004,NaN,0.37,136.887424,NaN,NaN,NaN
40,Week 41,10/5/2020,132239,182924,NaN,0.38,138.328330,NaN,NaN,NaN
41,Week 42,10/12/2020,110816,159246,NaN,0.44,143.703075,NaN,NaN,NaN
42,Week 43,10/19/2020,110761,141404,NaN,0.28,127.665875,NaN,NaN,NaN
43,Week 44,10/26/2020,109795,147907,NaN,0.35,134.711963,NaN,NaN,NaN
44,Week 45,11/2/2020,109766,154502,NaN,0.41,140.755790,NaN,NaN,NaN
45,Week 46,11/9/2020,86824,155805,NaN,0.79,179.449231,NaN,NaN,NaN
46,Week 47,11/16/2020,88122,97835,NaN,0.11,111.022219,NaN,NaN,NaN
47,Week 48,11/23/2020,72380,101036,NaN,0.40,139.591047,NaN,NaN,NaN
48,Week 49,11/30/2020,81871,84123,NaN,0.03,102.750669,NaN,NaN,NaN
49,Week 50,12/7/2020,68364,92126,NaN,0.35,134.758060,NaN,NaN,NaN
50,Week 51,12/14/2020,58063,73188,NaN,0.26,126.049291,NaN,NaN,NaN
51,Week 52,12/21/2020,71890,69962,NaN,-0.03,97.318125,NaN,2673%,0.514016

-Selecting just the data after July 31, 2020 and saving it as a variable such as df_filtered

bike_df["Week of"] = pd.to_datetime(bike_df["Week of"]) to convert "week_of" to a datetime data type.  Then you can use > to filter the data using that column.

In [35]:
bike_df["Week of"] = pd.to_datetime(bike_df["Week of"])
df_filtered = bike_df.loc[bike_df['Week of'] >'2020-07-31']
df_filtered

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
31,Week 32,2020-08-03,180605,239827,NaN,0.33,132.790897,NaN,NaN,NaN
32,Week 33,2020-08-10,191450,219279,NaN,0.15,114.535910,NaN,NaN,NaN
33,Week 34,2020-08-17,168754,241007,NaN,0.43,142.815578,NaN,NaN,NaN
34,Week 35,2020-08-24,176624,273677,NaN,0.55,154.948931,NaN,NaN,NaN
35,Week 36,2020-08-31,184806,227918,NaN,0.23,123.328247,NaN,NaN,NaN
36,Week 37,2020-09-07,157345,207670,NaN,0.32,131.983857,NaN,NaN,NaN
37,Week 38,2020-09-14,152527,207320,NaN,0.36,135.923476,NaN,NaN,NaN
38,Week 39,2020-09-21,141072,207918,NaN,0.47,147.384314,NaN,NaN,NaN
39,Week 40,2020-09-28,135881,186004,NaN,0.37,136.887424,NaN,NaN,NaN
40,Week 41,2020-10-05,132239,182924,NaN,0.38,138.328330,NaN,NaN,NaN
41,Week 42,2020-10-12,110816,159246,NaN,0.44,143.703075,NaN,NaN,NaN
42,Week 43,2020-10-19,110761,141404,NaN,0.28,127.665875,NaN,NaN,NaN
43,Week 44,2020-10-26,109795,147907,NaN,0.35,134.711963,NaN,NaN,NaN
44,Week 45,2020-11-02,109766,154502,NaN,0.41,140.755790,NaN,NaN,NaN
45,Week 46,2020-11-09,86824,155805,NaN,0.79,179.449231,NaN,NaN,NaN
46,Week 47,2020-11-16,88122,97835,NaN,0.11,111.022219,NaN,NaN,NaN
47,Week 48,2020-11-23,72380,101036,NaN,0.40,139.591047,NaN,NaN,NaN
48,Week 49,2020-11-30,81871,84123,NaN,0.03,102.750669,NaN,NaN,NaN
49,Week 50,2020-12-07,68364,92126,NaN,0.35,134.758060,NaN,NaN,NaN
50,Week 51,2020-12-14,58063,73188,NaN,0.26,126.049291,NaN,NaN,NaN
51,Week 52,2020-12-21,71890,69962,NaN,-0.03,97.318125,NaN,2673%,0.514016

- Find how many entries occurred after July 31, 2020 Hint: use len(df_filtered) to get the length of the dataframe

In [36]:
len(df_filtered)

21

- Select just data where the 'Change 2019 -2020' column is greater than 50% (greater than .5).

In [38]:
bike_df.loc[bike_df['Change 2019-2020']>0.5]

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
5,Week 6,2020-02-03,79780,153555,NaN,0.92,192.473051,NaN,NaN,NaN
6,Week 7,2020-02-10,65732,130351,NaN,0.98,198.306761,NaN,NaN,NaN
7,Week 8,2020-02-17,69492,149876,NaN,1.16,215.673747,NaN,NaN,NaN
8,Week 9,2020-02-24,85688,141250,NaN,0.65,164.842218,NaN,NaN,NaN
9,Week 10,2020-03-02,84512,167528,NaN,0.98,198.229837,NaN,NaN,NaN
10,Week 11,2020-03-09,107995,210182,NaN,0.95,194.621973,NaN,NaN,NaN
11,Week 12,2020-03-16,125440,367795,NaN,1.93,293.203922,NaN,NaN,NaN
12,Week 13,2020-03-23,136330,372783,NaN,1.73,273.441649,NaN,NaN,NaN
13,Week 14,2020-03-30,118784,280728,NaN,1.36,236.334860,NaN,NaN,NaN
14,Week 15,2020-04-06,132033,419160,NaN,2.17,317.466088,NaN,NaN,NaN
15,Week 16,2020-04-13,133267,241810,NaN,0.81,181.447770,NaN,NaN,NaN
17,Week 18,2020-04-27,166356,276982,NaN,0.66,166.499555,NaN,NaN,NaN
19,Week 20,2020-05-11,178534,281348,NaN,0.58,157.587910,NaN,NaN,NaN
28,Week 29,2020-07-13,166125,250590,NaN,0.51,150.844244,NaN,NaN,NaN
34,Week 35,2020-08-24,176624,273677,NaN,0.55,154.948931,NaN,NaN,NaN
45,Week 46,2020-11-09,86824,155805,NaN,0.79,179.449231,NaN,NaN,NaN

Put these together! When filtering you can use "&" to combine two filters. Determine how many weeks in the second half of the year (after July 31, 2020) also had a change greater than 50%? Hint: use len().

In [52]:
filter= bike_df['Change 2019-2020']>0.5
bike_df.loc[df_filtered & filter]

,Timeframe,Week of,2019 counts (31 counters),2020 counts (31 counters),2021 Counts,Change 2019-2020,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
34,Week 35,2020-08-24,176624,273677,NaN,0.55,154.948931,NaN,NaN,NaN
45,Week 46,2020-11-09,86824,155805,NaN,0.79,179.449231,NaN,NaN,NaN

Next, make a new combined filter where you only include changes greater than 100% that also occurred after July 31, 2020. Display the filtered DataFrame. Were there any weeks in the second half of the year (after July 31, 2020) where the change was greater than 100%? Hint: If you only see column headers with no data, this means no rows met both conditions.

In [54]:
filter= bike_df['Change 2019-2020']>1
bike_df.loc[df_filtered & filter]

Empty DataFrame
Columns: [Timeframe, Week of,  2019 counts (31 counters),  2020 counts (31 counters), 2021 Counts, Change 2019-2020, Unnamed: 6, Unnamed: 7, Unnamed: 8, Unnamed: 9]
Index: []